#container{
    width: 80%;
    margin:0 auto;
}
#container img{
    width: 30%;
    margin: 1.4%;
}

h1{
    width: 18%;
    font-family: 'Grape Nuts', cursive;
    font-size: 40px;
    border-bottom: solid red 2px;
    text-transform:uppercase;
    padding-bottom: 20px;
}

